DEV_APP_PORT = 
DEV_APP_DB_HOST = 
DEV_APP_DB_NAME = 
DEV_APP_DB_PASSWORD = 
DEV_APP_DB_PORT = 
DEV_APP_DB_USER = 
ACCESS_TOKEN_SECRET = 24ba0191f905f254ccbc591ce20402402fd2c66efbb7bb259fedc780e1453e44
REFRESH_TOKEN_SECRET =eade5e295e688e506fb6cacdb2c8adebf7ddb95baf2459dbffacb972d87a3948
NODE_ENV=development

##product
PRO_APP_PORT =
PRO_APP_DB_HOST =   
PRO_APP_DB_NAME = 
PRO_APP_DB_PASSWORD = 
PRO_APP_DB_PORT = 
PRO_APP_DB_USER = 


DB_CONNECTIONSTRING = 


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

